/* Slip the nav into 3 column grid */
header nav 
{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: start;
    padding: 0 2em;
    align-items: center;
    height: 100%;
}


header nav .logo-container, 
header nav .settings-profile-container 
{
    display: flex;
    align-items: center;
    height: 100%;
}

header nav .settings-profile-container {
    justify-content: flex-end;
    gap: 2em;
}

/* Main Board */

/* main-board heading */
.main-board div {
    display: flex;
    justify-content: space-between;
}

.board-area {
    display: flex;
    gap: 1em;
}